@font-face {
  font-family: "theLastOfUsFont";
  src: url("../font/HeadlinerNo45.woff") format("woff"), url("../font/HeadlinerNo45.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, a {
  color: rgb(241, 241, 241);
  text-decoration: none;
}

.audio {
  display: none;
}

.main-wrap, .section-wrap {
  font-family: "theLastOfUsFont", "Arial", sans-serif;
  background: url("../assets/MAIN_BCG.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  box-shadow: inset 0px -20px 150px 55px rgb(5, 0, 0);
}
@media screen and (max-width: 840px) {
  .main-wrap, .section-wrap {
    background-position: center;
  }
}

.section-wrap {
  background-image: url("../assets/section_bcg.png");
}

.container {
  max-width: 1720px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.normal-text {
  font-weight: 400;
  font-size: 60px;
  line-height: 68px;
  letter-spacing: 2px;
}
@media screen and (max-width: 1200px) {
  .normal-text {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    max-width: 400px;
  }
}

.header {
  text-align: center;
}
@media screen and (max-width: 840px) {
  .header {
    display: flex;
    justify-content: end;
    padding-top: 20px;
  }
}
@media screen and (max-width: 840px) {
  .header__navigation {
    display: none;
  }
}
.header__list {
  display: flex;
  justify-content: center;
  gap: 0 55px;
  padding: 38px 0 43px;
}
@media screen and (max-width: 840px) {
  .header__list {
    padding: 20px 20px;
    flex-direction: column;
    align-items: flex-end;
  }
}
.header__link {
  transition: 0.2s ease;
}
.header__link:hover {
  color: rgb(124, 123, 123);
  border-bottom: 5px solid rgb(124, 123, 123);
}

.offcanvas {
  background: rgb(15, 15, 15);
  background: linear-gradient(333deg, rgb(15, 15, 15) 0%, rgb(50, 50, 50) 45%, rgb(167, 167, 167) 100%);
  min-height: 50%;
}

.btn-close {
  color: rgb(241, 241, 241);
}

.btn {
  display: none;
}
@media screen and (max-width: 840px) {
  .btn {
    display: block;
  }
}

.main {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 840px) {
  .main {
    flex-direction: column;
    align-items: baseline;
  }
}
@media screen and (max-width: 1200px) {
  .main__logo {
    max-width: 350px;
  }
}
@media screen and (max-width: 400px) {
  .main__logo {
    max-width: 200px;
  }
}
.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px 0;
}
.main__h1 {
  max-width: 600px;
}
@media screen and (max-width: 1200px) {
  .main__h1 {
    max-width: 400px;
  }
}
@media screen and (max-width: 840px) {
  .main__h1 {
    margin-top: 20px;
    align-self: flex-end;
  }
}
.main__h1::before {
  content: "";
  display: block;
  height: 200px;
  width: 4px;
  background: linear-gradient(0deg, #FFFEFE -9.17%, rgba(191, 191, 191, 0.25) 71.66%);
  border-radius: 2px;
  margin: 0 auto;
  margin-bottom: 14px;
}

.md-btn {
  border: 4px solid rgb(241, 241, 241);
  background: rgba(0, 0, 0, 0.4);
  font-weight: 400;
  font-size: 40px;
  line-height: 68px;
  letter-spacing: 2px;
  padding: 16px 95px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.5s ease;
}

.md-btn:hover {
  background: rgba(0, 0, 0, 0.6);
}

.naughty_logo {
  align-self: flex-end;
  margin-top: 150px;
}

.story {
  display: flex;
  padding: 70px 0;
  gap: 0 228px;
  min-height: 100vh;
  justify-content: space-between;
}
.story__content {
  max-width: 680px;
}
.story__h2 {
  font-weight: 400;
  font-size: 100px;
  line-height: 68px;
  letter-spacing: 2px;
}
.story__text {
  font-weight: 400;
  font-size: 46px;
  line-height: 52px;
  letter-spacing: 2px;
  margin: 80px 0 66px;
}
.story__video {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: end;
  gap: 30px 0;
}
.story__trailer {
  border-radius: 10px;
  width: 588px;
  height: 331px;
}/*# sourceMappingURL=index.css.map */